<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.reber.agenda"
    android:versionCode="26"
    android:versionName="2.2.1">

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/appName">
        <activity
            android:name=".AgendaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/appSettings">
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />
            </intent-filter>
        </activity>
        <activity
            android:name="AgendaConfigure"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/widgetSettings"
            android:theme="@android:style/Theme.DeviceDefault.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AgendaWidgetProvider"
            android:label="@string/appName">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.reber.agenda.AGENDA_WIDGET_UPDATE" />
                <action android:name="org.reber.agenda.AGENDA_WIDGET_NEXT_EVENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/agendaappwidget" />
        </receiver>
    </application>

</manifest>